.balance {
  margin: 20px 0px 0px 0px;
}

.icon-wrap {
  border-radius: 50%;
  width: 3.25rem;
  height: 3.25rem;
  display: flex;
  -moz-box-align: center;
  align-items: center;
  -moz-box-pack: center;
  justify-content: center;
}

.icon-view {
  color: #FFF;
  font-size: 25px;
}