@import '~antd/dist/antd.css';

.trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  height: 32px;
  margin: 16px;
  color: #fff;
}

.site-layout .site-layout-background {
  background: #fff;
  font-size: 24px;
  padding: 24px;
}

.account-col {
  margin: 0px 0px 10px 10px;
}

.icon-wrap {
  border-radius: 50%;
  width: 3.25rem;
  height: 3.25rem;
  display: flex;
  -moz-box-align: center;
  align-items: center;
  -moz-box-pack: center;
  justify-content: center;
}

.transactions {
  margin: 20px 0px 0px 0px;
}

.balance-value {
  color: #2194f2;
  font-weight: 500;
}

.income-value {
  color: #51b44f;
  font-weight: 500;
}

.expense-value {
  color: #e64b30;
  font-weight: 500;
}